.picture { 
     width: 290px;
}
div { 
    border: 5px  dotted whitesmoke ;
    float: left;  
    margin: 5px;  

    width: 18%;
    height: 620px;
}
h1 {
    font-family: "Impact", Charcoal, sans-serif; 
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: gold
    
}   
h2 { 
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 17px; 
   color: whitesmoke
}
body { 
   background-color: black
}
p {
  font-family: "Courier New", Courier, monospace;
   font-size: 26px;
   color: red  
}

@media screen and (max-width: 480px) { 
body { 
    background-color: black; 
     }
}   
@media screen and (max-width: 890px) { 
div { 
  height: 600px; 
  max-width: 40%; 
    } 
} 
@media screen and (max-width: 200px) { 
div { 
  height: 600px; 
  max-width: 80%; 
    } 
} 