.img-responsive {
    width: auto;
    height: auto;
} 

.thumbnail img {
    height:auto;
    width:auto;
}

div { 
    border: auto whitesmoke;
    float: left;  
    margin: auto;  

    width: auto;
    height: auto;
}
body { 
   background-color: black
}
h1 {
    font-family: "Impact", Charcoal, sans-serif; 
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: gold    
}
p {
  font-family: "Courier New", Courier, monospace;
   font-size: auto;
   color: red  
}
